<h4>Список устройств</h4>

<!-- Индикатор загрузки -->
<clr-spinner *ngIf="isLoading">Загрузка списка устройств...</clr-spinner>

<!-- таблица устройств -->
<clr-datagrid *ngIf="!isLoading" class="device-list-table">
  <clr-dg-column>id устройства</clr-dg-column>
  <clr-dg-column>Название</clr-dg-column>
  <clr-dg-column>Описание</clr-dg-column>

  <clr-dg-row *ngFor="let device of deviceList"
    (click)="openDeviceFormHandler(device.id)">
    <clr-dg-cell>{{ device.id }}</clr-dg-cell>
    <clr-dg-cell>{{ device.name }}</clr-dg-cell>
    <clr-dg-cell>{{ device.description }}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>{{ deviceList.length }} устройств(а)</clr-dg-footer>
</clr-datagrid>
