<h4>{{ title }}</h4>

<!-- Индикатор загрузки -->
<clr-spinner *ngIf="isLoading">Загрузка данных устройства...</clr-spinner>

<!-- Форма устройства -->
<div *ngIf="!isLoading" class="wrapper">
  <form clrForm class="device-form">

    <!-- Название -->
    <clr-input-container>
      <label>Название</label>
      <input clrInput type="text" [(ngModel)]="device.name" name="name" required />
      <clr-control-helper>Укажи название устройства</clr-control-helper>
      <clr-control-error>Это обязательное поле!</clr-control-error>
    </clr-input-container>

    <!-- Описание -->
    <clr-textarea-container>
      <label>Описание</label>
      <textarea clrTextarea [(ngModel)]="device.description" name="description"></textarea>
      <clr-control-helper>Добавь описание, если нужно</clr-control-helper>
    </clr-textarea-container>

  </form>

  <br>

  <!-- Кнопки действий -->
  <button *ngIf="!isCreateMode"
    (click)="deleteHandler()"
    class="btn btn-danger">
    Удалить
  </button>

  <button *ngIf="isCreateMode"
    (click)="createHandler()"
    class="btn btn-success">
    Добавить
  </button>

  <button *ngIf="!isCreateMode"
    (click)="updateHandler()"
    class="btn btn-success">
    Сохранить
  </button>

  <button (click)="returnToList()"
    class="btn">
    Отмена
  </button>
</div>